<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString.Default" value="Default"/>
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="" providerName="XRepository.Tests.FakeDbProviderFactory"/>
		<add name="Other" connectionString="" providerName="XRepository.Tests.FakeDbProviderFactory"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<add name="FakeDb Data Provider" invariant="XRepository.Tests.FakeDbProviderFactory" description="Data provider for FakeDb" type="XRepository.Tests.FakeDbProviderFactory, XRepository.Tests" />
		</DbProviderFactories>
	</system.data>
</configuration>